*{
    margin: 0;
    padding: 0;
}

.first{
    width: 100%;
    height: 6vh;
    background-color: blanchedalmond;
}

.welcome h5{
    color: black;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 1% ;
    padding-left: 1%;
}

.second{
    width: 100%;
    height: 15vh;
    background-color:#2F2F2F;
}

.nav{
    display: flex;
    flex-wrap: wrap;
}


.logo img{
    padding-top: 1%;
    padding-left: 6%;
}

.nav-opt{
    padding-top: 3%;
    padding-left: 7%;
}

.nav-opt h4{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.nav-opt h4:hover{
    color: coral;
}

.review h4{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.review{
    padding-top: 3%;
    padding-left: 2%;
}

.review h4:hover{
    color: coral;
}


.about h4{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.about{
    padding-top: 3%;
    padding-left: 2%;
}

.about h4:hover{
    color: coral;
}


.contact h4{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.contact{
    padding-top: 3%;
    padding-left: 2%;
}

.contact h4:hover{
    color: coral;
}


.search {
    padding-top: 3%;
    padding-left: 10%;
    box-sizing: border-box;
}

.search input{
    background-color:#2F2F2F;
    color: white;
}

.fb img{
    padding-top: 50%;
    padding-left: 110%;
}

.fb img:hover{
    color: blue;
}

.linkedin img{
    padding-top: 70%;
    padding-left: 160%;
}


.wish img{
    padding-top: 70%;
    padding-left: 240%;
}


.basket img{
    padding-top: 65%;
    padding-left: 300%;
}



.three{
    width: 100%;
}

.main-img {
  width: 100%;
  height: 80vh;
  background: url("./first_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.content {
  width: 50%;
  padding-left: 25%;
  text-align: left;
  font-size: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  color: white;
  font-weight: 300;
}

.title-chempakam {
  font-size: 4rem;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: white;
}

.btn-box-shop {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 7rem;
}

.btn-box-shop button{
    width:40%;
    height:40%;
    align-items: center;
}


.btn-box-shop button:hover{
    color: #555;
}








.four{
    width: 100%;
    height: 40vh;
}


.category-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-wrap: wrap;
}

.category {
  text-align: center;
  width: 12%;
}

.circle {
  width: 100%;
  padding-top: 100%; 
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category p {
  padding-top: 5%;
  font-size: 1rem;
  color: #555;
}





.five{
    width:100%;
    height:65vh;
}

.best h2{
    text-align: center;
    padding-top: 2rem;
    color: grey;
    font-size: 300;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.product-card {
    width: 25%;
    padding: 2%;
    border: 0.1% solid #ddd;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100%;
    border-radius: 2%;
}

.title-organza {
    font-size: 100%;
}

.price {
    font-size: 120%;
    font-weight: bold;
}

.cart-btn {
    width: 60%;
    padding: 3%;
    background-color: #f0f0f0;
    border: 0.3% solid #ccc;
    border-radius: 2%;
}






.six{
    width:100%;
    height:3vh;
}

.button-section {
    width: 100%;
    height: 10vh;    
    display: flex;
    justify-content: center;
    align-items: center; 
}

.browse-btn {
    text-decoration: none;
    padding: 2% 5%;  
    border: 0.1rem solid grey;
    color: grey;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border-radius: 0.3rem;
}








.seven{
    width: 100%;
    height: 160vh;
}


.page {
    width: 100%;
    text-align: center;
    padding-top: 7%;
} 


.title {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 3%;
    color: grey;
}


.grid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 23%;   
    text-align: center;
    padding-bottom: 5%;
}

.card img {
    width: 100%;
}


.price-zell {
    font-size: 120%;
    font-weight: bold;
    padding-top: 3%;
}

button {
    width: 50%;
    padding: 3%;
    border: 1px solid gray;
    background: white;
    cursor: pointer;
    font-size: 90%;
}

.bottom-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.bottom-btn {
    width: 20%;
    padding: 2%;
    background: white;
    border: 1px solid gray;
    font-weight: bold;
}






.eight{
    width:100%;
    height:40vh;
}


.footer {
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap; 
}


.footer-section {
    width: 22%;         
    display: flex;
    flex-direction: column;
    gap: 4%;            
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}


.logo-box {
    width: 60%;
}

.logo-img {
    width: 100%;
}

.icons-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.icon {
    width: 12%;    
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.copy {
    font-size: 0.9rem;
    padding-top: 5%;
}

/* @media screen and (max-width: 800px) {
    .footer-section {
        width: 90%;
        text-align: center;
        padding-top: 8%;
    }

    .icons-box {
        width: 60%;
        margin-left: 20%;
    }
} */