*{ 
    margin: 0;
    padding: 0;
}


.first{
    width: 100%;
    height: 6vh;
    background-color: blanchedalmond;
}

.welcome h5{
    color: black;
    font-size: 1vw;  
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 1% ;
    padding-left: 1%;
}






.second{
    width: 100%;
    height: auto;     
    background-color:#2F2F2F;
    padding: 1% 0;
}

.nav{
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
}

.logo img{
    width: 20vw;       
    max-width: 120px;   
    padding-top: 1%;
    padding-left: 5%;
}

.nav-opt{
    padding-top: 1%;
    padding-left: 2%;
}

.review{
        padding-top: 1%;
    padding-left: 2%;
}


.about{
        padding-top: 1%;
    padding-left: 2%;
}

.contact{
    padding-top: 1%;
    padding-left: 2%;
}

.nav-opt h4{
        font-size: 1vw;  
    max-font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}


.review h4{
        font-size: 1vw;  
    max-font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.about h4{
        font-size: 1vw;  
    max-font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

.contact h4{
    font-size: 1vw;  
    max-font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}


.nav-opt h4:hover{
     color: coral;
}


.review h4:hover{
     color: coral;
}

.about h4:hover{
     color: coral;
}

.contact h4:hover{
    color: coral;
}


.search {
    padding-top: 1%;
    padding-left: 2%;
    box-sizing: border-box;
}

.search input{
    background-color:#2F2F2F;
    color: white;
    width: 15vw;      
    min-width: 100px; 
}


.fb img{
        width: 6vw;         
    max-width: 35px;
}


.linkedin img{
        width: 6vw;         
    max-width: 35px;
}


.wish img{
        width: 6vw;         
    max-width: 35px;
}


.basket img{
    width: 6vw;         
    max-width: 35px;   
}


.fb img{
    padding-top: 20%;
    padding-left: 5%;
}

.linkedin img{
    padding-top: 20%;
    padding-left: 5%;
}

.wish img{
    padding-top: 15%;
    padding-left: 5%;
}

.basket img{
    padding-top: 15%;
    padding-left: 1%;
}









.three{ 
    width: 100%;
}

.main-img {
  width: 100%;
  height: 80vh;                    
  background: url("./first_img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.content {
  width: 50%;
  padding-left: 25%;
  text-align: left;
  font-size: 1.2vw;               
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
  color: white;
  font-weight: 100;
}

.title-chempakam {
  font-size: 4vw;                  
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: white;
}

.btn-box-shop {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: auto;                     
}

.btn-box-shop button{
    width: 40%;                    
    min-width: 120px;              
    height: 4vh;                   
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    font-size: 1vw;               
    max-font-size: medium;          
}

.btn-box-shop button:hover{
    color: #555;
}







.four{ 
    width: 100%;
    height: auto;                 
}

.category-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-wrap: wrap;                
}

.category {
  text-align: center;
  width: 12%;                     
  min-width: 120px;               
}

.circle {
  width: 100%;
  padding-top: 100%;            
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category p {
  padding-top: 5%;
  font-size: 1.2vw;               
  max-font-size: 1rem;              
  color: #555;
}










.five{ 
    width:100%;
    height:auto;                
}

.best h2{
    text-align: center;
    padding-top: 2rem;
    color: grey;
    font-size: 3vw;             
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;            
    gap: 2%;
    margin: auto;
}

.product-card {
    width: 22%;                  
    min-width: 180px;            
    padding: 2%;
    border: 0.1% solid #ddd;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    width: 100%;
    border-radius: 2%;
}

.title-organza {
    font-size: 1.2vw;            
}

.price {
    font-size: 1.4vw;           
    font-weight: bold;
}

.cart-btn {
    width: 60%;
    padding: 3%;
    background-color: #f0f0f0;
    border: 0.3% solid #ccc;
    border-radius: 2%;
    font-size: 1.2vw;           
}











.six{ 
    width:100%;
    height:auto;                 
}

.button-section {
    padding-left: 20%;
    width: 60%;
    height: 15vh;                
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button-section button:hover{
    color:darkgray;
}




.seven{ 
    width: 100%;
    height: auto;                   
}

.page {
    width: 100%;
    text-align: center;
    padding-top: 7%;
} 

.title {
    font-size: 3vw;                 
    font-weight: bold;
    padding-top: 6%;
    padding-bottom: 3%;
    color: grey;
}

.grid {
    width: 90%;
    display: flex;
    flex-wrap: wrap;                  
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 23%;                       
    min-width: 160px;                 
    text-align: center;
    padding-bottom: 5%;
}

.card img {
    width: 100%;
}

.price-zell {
    font-size: 1.4vw;                 
    font-weight: bold;
    padding-top: 3%;
}

button {
    width: 40%;                       
    padding: 3%;
    border: 1px solid gray;
    background: white;
    cursor: pointer;
    font-size: 1.5vw;               
}

.bottom-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.bottom-btn {
    width: 20%;
    padding: 2%;
    background: white;
    border: 1px solid gray;
}

.bottom-btn-box button:hover {
    color: darkgrey;
}









.eight{ 
    width:100%;
    height:auto;                      
}

.footer {
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-wrap: wrap;                  
}

.footer-section {
    width: 22%;          
    min-width: 180px;                  
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.title-footer {
    font-size: 0.9rem;                 
    font-weight: bold;
}

.logo-box {
    width: 60%;
}

.logo-img {
    width: 100%;
}

.icons-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.icon {
    width: 15%;                      
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 0.5rem;
}

.copy {
    font-size: 0.5rem;
    padding-top: 5%;
}
